<div class="navigation">
    <img src="./../../assets/logo.png" width="140" height="100">
    <div class="navigation__menu">
        <button [className]="isMenuOpen ? 'navigation__menu__button show' :'navigation__menu__button'"
            (click)="toggleMenu()">
            <svg width="26" height="16" viewBox="0 0 26 16" fill="none" xmlns="http://www.w3.org/2000/svg" class="svg">
                <path d="M1 1H25" stroke="#1C1A1F" stroke-width="1.5" stroke-linecap="round"></path>
                <path d="M1 8H25" stroke="#1C1A1F" stroke-width="1.5" stroke-linecap="round"></path>
                <path d="M1 15H25" stroke="#1C1A1F" stroke-width="1.5" stroke-linecap="round"></path>
            </svg>
        </button>
    </div>
</div>
<div [className]="isMenuNavOpen ? 'header__navigation__menu open' : 'header__navigation__menu'">
    <nav class="header__navigation__menu__elements">
        <mat-expansion-panel [class.mat-elevation-z0]="true" class="header__navigation__menu__elements">
            <mat-expansion-panel-header>
                Products
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink="#">
                    <span>For Freelancers</span>
                </a>
                <a mat-list-item routerLink="#">
                    <span>Small Business</span>
                </a>
                <a mat-list-item routerLink="#">
                    <span>Bill Pay</span>
                </a>
                <a mat-list-item routerLink="#">
                    <span>Invoicing</span>
                </a>
                <a mat-list-item routerLink="#">
                    <span>Flow</span>
                </a>
                <a mat-list-item routerLink="#">
                    <span>Integrations</span>
                </a>
            </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel disabled>
            <mat-expansion-panel-header>
                Customers
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel disabled>
            <mat-expansion-panel-header>
                Pricing
            </mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
            <mat-expansion-panel-header>
                Learn
            </mat-expansion-panel-header>
            <mat-nav-list>
                <a mat-list-item routerLink="#">Spring</a>
                <a mat-list-item routerLink="#">Hibernate</a>
                <a mat-list-item routerLink="#">Struts</a>
            </mat-nav-list>
        </mat-expansion-panel>
    </nav>
</div>
<div [className]="isMenuNavOpen ? 'header__navigation__menu open' : 'header__navigation__menu'">
    <div class="header__login">
        <div class="header__login__section">
            <div class="get__started">
                <p>Get Started</p>
            </div>
            <div class="login__button">
                <p>Login</p>
            </div>
        </div>
    </div>
</div>